*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;

}
.volleyBall{
  background-color: rgb(225, 225, 5);
  padding: 15px;
  /* margin: 20px; */
  height: 100vh;
}
.scoreBoard{
  width:500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-bottom: 2px solid #000000;
  margin-top: 3rem;
}
.teamA{
  border-right: 2px solid #000000;
  padding-right: 4rem;
}
.scores{
  display: flex;
  align-items: center;
  margin-left: 41%;
  /* gap: 4rem; */
  
}

.scores input{
  background-color: inherit;
  border: 0;
  outline: 0;
  padding-top: 20px;
  font-weight: 700;
 
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
button{
  background-color: rgb(0, 55, 255);
  color: #fff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  
}

.addScores,.subtractPoint{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-top: 10px;
} 
.NewRound{
  padding: 10px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} 
@media screen and (max-width : 640px){
  .volleyBall{
    padding: 5px;
    width: 100vw;
    /* height: 100vh; */
  }
  .scoreBoard{
    width:100vw;
    margin: 0;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* gap: 2rem; */
    border-bottom:0;
    margin-top: 1rem;
    border-right: 2px solid white;
  }
  .teamA, .teamB{
    border-right: 0;
    padding-right: 1rem; 
  }

  section p{
    font-size: 11px;
  }
  .scores{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    gap: 0;
    padding-top: 40px;
    
  }
  .scores input{
    margin-top: -70px;
   
  }
  .teamA, .teamB{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    
  }
  
  .addScores,.subtractPoint{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 10px;
  } 
  .NewRound{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }  
  .allscores{
    display: flex;
    align-items: center;
    gap: 0;
  }
}